<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style/graffiti/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="/scripts/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/scripts/jscolor.js"></script>
</head>
<body>
  <div data-id = {{isLocked}} id ="lockStatus" style="display:none"></div>
  {{>graffiti/navbar}}
  <div id = canvasWrap></div>
  <canvas id="myCanvas"></canvas>
  <img id="cursorImagePreview" src="">

  {{#logged_in}}
    {{>graffiti/palette}}
  {{/logged_in}}

  {{>graffiti/imageFinder}}
  <div class = "progressWrapper graffitiProgress"><div class="progress"><div class="indeterminate"></div></div></div>
</body>
<script type=text/javascript src = /scripts/script.js></script>
<script type=text/javascript src = /scripts/graffiti/ui.js></script>
<script type=text/javascript src = /scripts/graffiti/canvasDraw.js></script>
<script type=text/javascript src = /scripts/graffiti/imgurAjax.js></script>
<script type=text/javascript src = /scripts/graffiti/imageFilters.js></script>
<script type=text/javascript src = /scripts/ajax_function.js></script>
<script>
  var palette = document.getElementById('palettePicker');
  function pickerColor(picker) {
      palette.innerHTML = picker.toHEXString();
    }
</script>
<!-- If logged in and the page is not locked (because you are the user who locked it)
Then when you leave, script fires to unlock it.
No one else can unlock the page if they don't meet these conditions -->
{{#logged_in}}
{{^isLocked}}
<script>
window.onbeforeunload = unlockPage;
</script>
{{/isLocked}}
{{/logged_in}}
</html>
