<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style/graffiti/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
 -->
  <script src="/scripts/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/scripts/jscolor.js"></script>
</head>
<body>
<div data-id = {{isLocked}} id ="lockStatus" style="display:none"></div>;
 {{^logged_in}}
<div class = "" id = navBarWrapper>
  <div class = "row">

    <a class = "btn center waves-effect col l2 m2 waves-light" href ="/">Home</a>
    <form class="col l10 m10 offset-l2 form-horizontal graffitiLogin" action="/sessions/create" method="post">
      <fieldset>
        <input type="hidden" name="row" value="{{row}}">
        <input type="hidden" name="column" value="{{column}}">

        <div class = "loginColumn">
          <div class ="loginRow">

            <div class="form-group">
              <input name="username" type="text" class="validate myInput" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="validate myInput" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn center">Login</button>
           </div>
        </div>
      </fieldset>
    </form>

      <div class="col l4 m4 red-text accent-3">
       {{#error}}
        <strong>Uh Oh!</strong> {{error}}
        {{/error}}
      </div>
      <div class = "col l13 m3 center-align">
        <p data-id={{row}}{{column}} id = "coordinates">Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></p>
    </div>
    <div class ="col l3 m3" id ="noAccount">No account? <a href="/users/new">Sign Up!</a></div>
   {{#isLocked}}
    <div class = "tab valign" id ="lockedTab">PAGE BEING TAGGED BY ANOTHER USER</div>
    {{/isLocked}}
    <div class = tab id ="navBarTab">Close Nav-Bar</div>
    <div class = tab id ="viewTab">In View-Tags Mode</div>
  </div>
</div>
  {{/logged_in}}


  {{#logged_in}}
  <div class = "" id = navBarWrapper>
  <div class="row">
    <div data-id={{username}} class = "col l12 m12 center-align valign logo welcome">Welcome, {{username}}!</div>

      <a class = "btn col l2 m2 waves-effect waves-light" href ="/">Home</a>
      <a class="btn waves-effect col l2 m2 waves-light" id = "viewTagsButton" href='#'>View Tags</a>
      <a class='dropdown-button btn col l2 m2 center' href='#' data-constrainwidth ="false"  data-activates='dropdown1'>Menu</a>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/screenshots/{{username}}">Screenshots</a></li>
            <li><a href="/logs/{{row}}/{{column}}">Page Logs</a></li>

            <li class="divider"></li>
            <li><a href="/sessions/logout">Logout</a></li>
          </ul>

    <p class ="col l13 m3 center-align"= data-id={{row}}{{column}} id = "coordinates">Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></p>
    <div class = "col l3 m3 offset-6">You are logged in. <a href="/sessions/logout">Logout</a></div>


    {{#isLocked}}
    <div class = "tab valign" id ="lockedTab">PAGE BEING TAGGED BY ANOTHER USER</div>
    {{/isLocked}}
    <div class = tab id ="navBarTab">Close Nav-Bar</div>
    <div class = tab id ="viewTab">In View-Tags Mode</div>
  </div>
</div>
{{/logged_in}}
<div id = canvasWrap></div>
<canvas id="myCanvas"></canvas>
<img id="cursorImagePreview" src="">
<!-- <div id="palette">
depracated
</div> -->

{{#logged_in}}
<div id = "paletteOuter">
<div id ="paletteMoveTab">Move</div>
  <div id = "paletteBoxWrapper">

  {{^isLocked}}
  <button
        class="jscolor { onFineChange:'pickerColor(this)'} paletteBox"
        id = "palettePicker"
        value = 'FFFFFF'
        style="border:2px outset black">
        #000000
    </button>
    <div class= "hide" id ="paletteDocking">

      <div class="paletteBox" id="paletteDock"></div>
    </div>

  <button class="paletteBox" id="sizeSlider">Brush Size
    <canvas id="brushExampleCanvas"></canvas>
  </button>
  <div class = "hide" id ="brushAdjustDocking">
    <div id = "brushAdjustDock">
     <!--  <label for ="brushSizeSlider">Brush Size</label> -->
      <input type="range" value = "1" min = "0.5" max = "3" step="0.05" id="brushSizeSlider">
    </div>
  </div>
  <button class="paletteBox" id="cursorMode">Mode: Paint</button>
  <button class="paletteBox" id="openChooser">Load Image</button>
  {{/isLocked}}
  <div class="paletteBox" id="saveScreenshot">Save Screenshot</div>
  <!-- <a  id="downloadScreenshot"><div class="paletteBox">Save</div></a>
  <div class="paletteBox" id="loadCanvas">Load</div> -->
  </div>
</div>
{{/logged_in}}

<!-- <div class="hide" id="notificationWindow">
  <div class="textBox" id="notificationText">Are you sure you want to erase the canvas?</div>
      <div id ="topRow">
        <div class="windowTitle">Warning</div>
      <button class="exitWindowButton" id="">X</button>
      </div>
  <div class="buttonRow">
    <button class="windowButton" id="yes">Yes</button>
    <button class="windowButton" id="no">N0</button>
  </div>
</div> -->



<div class="hide" id="imageSelectionWrapper">
  <button class="exitWindowButton" id="">X</button>

  <div id="previewWrapper">
    <canvas id="previewCanvas"></canvas>
    <canvas id="originalPixels"></canvas>
    <div id="previewBox">
        <img id="previewImage"></img>
      </div>
  </div>
  <div class = controlsWrapper>
    <div class = "imageControls">
      <div class="control">
        <div class="off toggle" id="brightness">
          <label for="brightness-val"><div class="label">Brightness</div></label>
        </div>
        <input type="range" id="brightness-val" name="brightness" min="0.5" max="1.5" value="1" step=".05" />
      </div>
      <div class="control">
        <div class="off toggle" id="contrast">
          <label for="contrast-val"><div class="label">Contrast</div></label>
        </div>
        <input type="range" id="contrast-val" name="contrast" min="0.5" max="1.5" value="1" step=".05" />
      </div>
      <div class="control">
        <div class="off toggle" id="grayscale">
          <label for="grayscale-val"><div class="label">Grayscale</div></label>
        </div>
        <input type="range" id="grayscale-val" name="grayscale" min="0" max="1" value="0" step=".05" />
      </div>
      <div class="control">
        <div class="off toggle" id="hue">
          <label for="hue-val"><div class="label">Hue</div></label>
        </div>
        <input type="range" id="hue-val" name="hue" min="0" max="360" value="0" step="10" />
      </div>
    </div>
    <div class = "imageControls">
      <div class="control">
        <div class="off toggle" id="invert">
          <label for="invert-val"><div class="label">Invert</div></label>
        </div>
        <input type="range" id="invert-val" name="invert" min="0" max="1" value="0" step="1" />
      </div>
      <div class="control">
        <div class="off toggle" id="opacity">
          <label for="opacity-val"><div class="label">Opacity</div></label>
        </div>
        <input type="range" id="opacity-val" name="opacity" min="0" max="1" value="1" step=".05" />
      </div>
      <div class="control">
        <div class="off toggle" id="saturate">
          <label for="saturate-val"><div class="label">Saturate</div></label>
        </div>
        <input type="range" id="saturate-val" name="saturate" min="0" max="2" value="1" step=".05" />
      </div>
      <div class="control">
        <div class="off toggle" id="sepia">
          <label for="sepia-val"><div class="label">Sepia</div></label>
        </div>
        <input type="range" id="sepia-val" name="sepia" min="0" max="1" value="0" step=".05" />
      </div>
    </div>
  </div>
  <div class = "row imageSearchRow valign-wrapper" id ="topSearch">
    <div class ="input-field col l4 m4 valign" id =searchSelect>
        <select id="searchSelectValue">
          <option value = "search1" id="">Search by Text</option>
          <option value = "search2" id="">See What's Hot</option>
        </select>
    </div>
    <button class = "btn-large col l1 m1" id="uploadButton">Upload Image</button>
     <input type="file" id="upload" name="upload" />
    <button class = "btn-large col l1 m1" id="reset">Reset</button>

      <div class = "col l4 m4">
        <label for="imageSlider"><div class="align-right label">Image Size</div></label>
        <input type="range"  min="10" max="100" id="imageSlider" value="50">
      </div>
    <button type = "none" class = "valign btn-large col l1 m1" id="menuExpand">Collapse</button>

  </div>
  <div class = "row imageSearchRow valign-wrapper" id ="bottomSearch">
    <input class = "searchText col l5 m5 valign" placeholder = "SearchImages" id="imageSearchBox"></input>
    <div class = "hide valign align-left searchHot col l5 m5" id = "popularSearch">Search Popular Images</div>
    <div class ="valign input-field col l4 m4" id =sortSelect>
        <legend>Sort by:</legend>
        <select id ="sortSelectValue">
          <option value = "searchViral" id="">Viral</option>
          <option value = "searchAllTime" id="">Top All Time</option>
          <option value = "searchThisWeek" id="">Top This Week</option>
        </select>

    </div>
    <button type = "none" class = "valign btn-large col l1 m1" id="imageSearchButton">Submit</button>
  </div>
  <div id="galleryWrapper">
  </div>
  <div id = "paginationRow"></div>
</div>
</body>

  <script type=text/javascript src = /scripts/script.js></script>
  <script type=text/javascript src = /scripts/graffiti/ui.js></script>
  <script type=text/javascript src = /scripts/graffiti/canvasDraw.js></script>
  <script type=text/javascript src = /scripts/graffiti/imgurAjax.js></script>
  <script type=text/javascript src = /scripts/graffiti/imageFilters.js></script>

<script>
  var palette = document.getElementById('palettePicker');
  function pickerColor(picker) {
      //cursorColor = picker.toHEXString();
      palette.innerHTML = picker.toHEXString();
      //console.log(picker.toRGBString())
    }

</script>

{{#logged_in}}
{{^isLocked}}
<script>
window.onbeforeunload = unlockPage;
</script>
{{/isLocked}}
{{/logged_in}}
</html>
