<a style="z-index: 1000; opacity: 1; background:white;" href="#" data-activates="slide-out-nav" class="button-collapse"><i style="z-index: 1000; background:white; opacity: 1; font-size:44px" class="purple-text material-icons">menu</i></a>


<ul class="side-nav purple lighten-5" id ="slide-out-nav">
{{^logged_in}}
  <li data-id={{row}}{{column}} id = "coordinates"><a class="waves-effect waves-light purple white-text"><i class="white-text material-icons">view_array</i>Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></a></li>
  <li class="divider"></li>
  <li class ="" id ="noAccount"><a class="red-text">Please log in to paint!</a></li>
  {{#isLocked}}
  <li class = "" id ="lockedTab"><a class="red-text">PAGE BEING TAGGED BY ANOTHER USER</a></li>
  {{/isLocked}}
  <li class="red-text accent-3">
    {{#error}}
    <strong>Uh Oh!</strong>{{error}}
    {{/error}}
  </li>
  <li class ="" id ="viewTab">In View-Tags Mode</li>
  <li><a class = "waves-effect waves-light purple white-text" href ="/"><i class="material-icons white-text">navigation</i>Home</a></li>
  <form class="graffitiLogin" action="/sessions/create" method="post">
  <li>
    <div class="input-field">
      <input name="username" type="text" class="validate myInput" id="inputUsername" placeholder="Username">
    </div>
  </li>
  <li>
    <div class="input-field">
      <input name="password" type="password" class="validate myInput" id="inputPassword" placeholder="Password">
    </div>
  </li>
  <li><button type="submit" class="btn center purple darken-2 white-text">Login</button></li>
  <li class="divider"></li>
  <li><a class="waves-effect waves-light" href="/users/new">or Sign Up!</a></li>
  </form>




{{/logged_in}}
{{#logged_in}}
    <li data-id={{row}}{{column}} id = "coordinates"><a class="waves-effect waves-light purple white-text"><i class="white-text material-icons">view_array</i>Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></a></li>
    <li class="divider"></li>
    {{#isLocked}}
    <li><a class = "" id ="lockedTab">PAGE BEING TAGGED BY ANOTHER USER</a></li>
    {{/isLocked}}
    <li><a class ="" id ="viewTab">In View-Tags Mode</a></li>
    <li data-id={{username}} class = "logo welcome"><a>Welcome, {{username}}!</a></li>
    <li><a class ="waves-effect waves-light purple darken-3 white-text" href ="/"><i class=" white-text material-icons">navigation</i>Home</a></li>
    <li><a style="cursor:pointer;"class="viewTagsButton purple darken-2 white-text"><i class="white-text material-icons">visibility</i>Hover Tags</a></li>
    <li><a href="/screenshots/{{username}}" class="purple darken-1 white-text"><i class="white-text material-icons">picture_in_picture</i>Screenshots</a></li>
    <li><a href="/logs/{{row}}/{{column}}" class="purple white-text"><i class="white-text material-icons">view_list</i>Page Logs</a></li>
    <li class="divider"></li>
    <li><a href="/sessions/logout">Logout</a></li>

{{/logged_in}}
</ul>

{{^logged_in}}
<script>
  Materialize.toast('You are not logged in!', 2000, "purple", function()
  {
    Materialize.toast('Please log in to paint!', 4000,"purple lighten-1")
  });
</script>
{{/logged_in}}
