{{^logged_in}}
<div class = "" id = navBarWrapper>
  <div class = "row">
    <a class = "btn center waves-effect col l2 m2 waves-light" href ="/">Home</a>
    <form class="col l9 m9 form-horizontal graffitiLogin" action="/sessions/create" method="post">
      <fieldset>
        <div class ="loginRow">
          <div class="form-group">
            <input name="username" type="text" class="validate myInput" id="inputUsername" placeholder="Username">
          </div>
          <div class="form-group">
            <input name="password" type="password" class="validate myInput" id="inputPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn center">Login</button>
        </div>
      </fieldset>
    </form>
    <div class="col l4 m4 red-text accent-3">
      {{#error}}
      <strong>Uh Oh!</strong>{{error}}
      {{/error}}
    </div>
    <div class = "col l13 m3 center-align">
        <p data-id={{row}}{{column}} id = "coordinates">Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></p>
    </div>
    <div class ="col l3 m3" id ="noAccount">No account?&nbsp; <a href="/users/new">Sign Up!</a></div>
    {{#isLocked}}
    <div class = "tab valign" id ="lockedTab">PAGE BEING TAGGED BY ANOTHER USER</div>
    {{/isLocked}}
    <div class = tab id ="navBarTab">Close Nav-Bar</div>
    <div class = tab id ="viewTab">In View-Tags Mode</div>
  </div>
</div>
{{/logged_in}}
{{#logged_in}}
<div class = "" id = navBarWrapper>
  <div class="row">
    <div data-id={{username}} class = "col l12 m12 center-align valign logo welcome">Welcome, {{username}}!</div>
    <a class = "btn col l2 m2 waves-effect waves-light" href ="/">Home</a>
    <a class="btn waves-effect col l2 m2 waves-light" id = "viewTagsButton" href='#'>View Tags</a>
    <a class='dropdown-button btn col l2 m2 center' href='#' data-constrainwidth ="false"  data-activates='dropdown1'>Menu</a>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/screenshots/{{username}}">Screenshots</a></li>
      <li><a href="/logs/{{row}}/{{column}}">Page Logs</a></li>
      <li class="divider"></li>
      <li><a href="/sessions/logout">Logout</a></li>
    </ul>
    <p class ="col l13 m3 center-align"= data-id={{row}}{{column}} id = "coordinates">Row: <span id="currentRow">"{{row}}"</span> Column: <span id="currentColumn">"{{column}}"</span></p>
    <div class = "col l3 m3 offset-6">You are logged in. <a href="/sessions/logout">Logout</a></div>
    {{#isLocked}}
    <div class = "tab valign" id ="lockedTab">PAGE BEING TAGGED BY ANOTHER USER</div>
    {{/isLocked}}
    <div class = tab id ="navBarTab">Close Nav-Bar</div>
    <div class = tab id ="viewTab">In View-Tags Mode</div>
  </div>
</div>
{{/logged_in}}
