body{
  background:  #CCC;
}

#myCanvas {
background: #EEE;
position: fixed;
top: 0px;
left: 0px;
border-bottom: 10px rgba(222,155,222,1) solid;

/* border: 3px orange solid;
 */-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
cursor: crosshair;
z-index: -1;

}
#canvasWrap {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  overflow: hidden;
}


#cursorImagePreview{
  opacity: 0.5;
  display: none;
  position: fixed;
  pointer-events: none;
}

#palette {
  position: fixed;
  top: 0px;
  right: 0px;
/*   border: 3px gray xset; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.paletteBox {
  border: 2px lightgray outset;
  height: 60px;
  width: 60px;
  position:  relative;
  font-size: 11px;
  text-align:  center;


}

#saveScreenshot{
  background: rgba(222,150,150,1);
}

#palettePicker{
  pointer-events: auto;
}

#paletteDocking {
/*   border:  2px solid red;
 */  width: 120px;
  height:  60px;
  position:  absolute;
  top: 0;
  left: 0px;
  display: inline;
  z-index: -2;


}

#paletteDock{
  display: block;
  position:  absolute;
  left: 60px;
  top: 0px;
/*   border: 2px yellow solid;
 */  width: 60px;
  height:  100%;
}

#brushAdjustDocking{

  height:  60px;
  width: 120px;
  position:  absolute;
  top: 60px;
  left: 0px;
  display: inline;
  z-index: -2;
  /*  border: 1px red solid; */
}

#brushAdjustDock{
  display: flex;
  justify-content: center;
  align-items: center;
  position:  absolute;
  left: 60px;
  top: 0px;
  border: 1px black solid;
  border-radius: 8px;
  width: 120px;
  height:  100%;
  background: rgba(222,222,222,0.7);


}

#brushSizeSlider{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#paletteOuter{
  width: 120px;
   position:  fixed;
   left: 0;
   top: 100px;
   color:  gray;
   z-index:  0;
   width:  60px;
   height:  300px;


}
#paletteBoxWrapper{
  position: relative;
  display:  flex;
  flex-direction: column;
  justify-content: stretch;
  align-items:  center;
  height:  100%;
  width:  60px;
  background-color:  white;
  border-radius: 8px;
  border: 1px solid black;
  z-index: 1;

}

#sizeSlider {
  background-color: white;
   overflow: hidden;
}

#paletteMoveTab{
  height:  30px;
  width:  100%;
  background:  lightyellow;
  position: relative;
  border: 1px solid black;
  border-radius: 8px 8px 0px 0px;
  cursor:  pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}



.colorSample {
  height: 20px;
  width: 20px;
}

#colorRed > .colorSample{
  background-color: red;
}
#colorOrange > .colorSample{
  background-color: orange;
}
#colorYellow > .colorSample{
  background-color: yellow;
}
#colorGreen > .colorSample{
  background-color: green;
}
#colorBlue > .colorSample{
  background-color: blue;
}
#colorPurple > .colorSample{
  background-color: purple;
}
  #colorBlack > .colorSample{
  background-color: black;
}
  #colorGray > .colorSample{
  background-color: gray;
}
  #colorWhite > .colorSample{
  background-color: white;
  border: 1px black dotted;
}



/* .openSlider {
  width: 200px;
  border: 2px gray solid;
} */

#brushAdjustmentWindow {
  border: 2px red solid;
  background: gray;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 100px;
  z-index: 1;
  overflow: hidden;

}

#brushAdjustmentWindow .windowTitle{
  position: absolute;
  left: 10%;

  color: white;
}

.hide{
  display: none;
}

#brushExampleCanvas{



  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}

#sliderExample{
  border: 2px green solid;
  position: relative;
  width: 75px;
  height: 100%;
  align-self: flex-start;
  overflow: hidden;
}

#sliderWrapper {
/*   border: 3px blue solid; */
  width: 80%;
  height: 50%;
  position: absolute;
  left: 20%;
  bottom: 0%;
}

#sliderBar {
  border-top: 2px white solid;
  margin: 0 2.5% 0 2.5%;
  width: 95%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0%;

}

#sliderHandle {
/*   border-radius: 50%; */
  width: 20%;
  height: 100%;
  margin: 0;

  background-color: orange;
  position: relative;
  top: 0px;
  left: 40%;

}

#hexColorWrap{

}

#hexColorBox{
height: 200px;
width: 200px;
background-color: gray;
}

#functionButtons {
  border: black 2px solid;
  position: absolute;
  top: 75px;
  left: 0px;

}

#notificationWindow{
  border: 2px solid gray;
  background: lightgray;
  position: fixed;
  top: 25px;
  left: 25%;
  height: 300px;
  width: 50%;
  overflow: hidden;

}

#topRow{
  border: 1px orange solid;
  position: relative;
  top:0px;
  left: 0px;
  height: 40px;

}

.exitWindowButton{
  position: absolute;
  top:0px;
  right:0px;
  height: 30px;
  width: 43px;
  background: salmon;
  z-index: 4;
}

.windowTitle{
  background: gray;
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width: 100%;
  text-align: center;
  font-size: 2em;
}


.textBox{
 /*  border: orange solid 2px; */
  background: rgba(200, 200, 180, 1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  color: black;
  font-size: 2rem;
  line-height: 200px;
  text-align: center;
}

.buttonRow {
  /* border: red solid 2px; */
  background-color: rgba(140,140,140,1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.windowButton{
   width: 200px;
   font-size: 1.5em;
   color: white;
}

#yes{
  background: green;


}

#no{
  background: red;
}



#imageSelectionWrapper{
  height:  100vh;
  width:  100vw;
  position:  fixed;
  z-index: 3;
  top: 0;
  left:  0;
  background:  rgba(44, 44, 44, 0.5);
 /*  border:  2px yellow solid; */
}

.imageSearchRow{
  height:  60px;
  background: black;
  position: relative;
}
#imageSearchBox{
  background: white;
  height:  100%;
  width:  50vw;
  position:  relative;
  left:  0px;
  font-size:  24px;
  line-height:  200%;
  margin:  0px;
}
/* #imageSearchButton{
  height: 100%;
  font-size:  22px;
  border-radius:  8px;
  background: white;
  box-sizing:  border-box;
} */

#imageSlider{
  background: rgba(211, 211, 211, 0.7);
}

span.thumb {
display:  none;
}

span.active {
display:  none;
}

#previewWrapper{
  height:  50vh;
  width:  100vw;
  border:  8px white solid;
  border-radius: 8px;
  position:  relative;
  display:  flex;
  flex-direction: row;
  align-items:  center;
  justify-content: center;
   background: rgba(100,100,100,0.8);
}

#previewBox{
  background:  white;
  height:  100px;
  width:  100px;
  position: relative;
  display:  none;
}
#previewCanvas{
  background:  white;
  height:  100px;
  width:  100px;
  position: fixed;
}
#originalPixels{
  z-index: -100;
  height:  100px;
  width:  100px;
  position: fixed;
}

#previewImage {
  height: 100%;
  width:  100%;
  opacity: 0;
}



#galleryWrapper{
  height:  33vh;
  border:  8px white solid;
  background: rgba(100,100,100,0.8);
  display:  flex;
  flex-direction:  row;
  justify-content: center;
  align-items:  center;
  flex-wrap:  wrap;
  overflow: scroll;
  position:  relative;
  bottom:  0px;
}

#topSearch{
   margin: 0px;
}
#bottomSearch{
  margin: 0px;
}

.controlsWrapper{
  height:  50vh;
  width: 100vw;
  display: flex;
  flex-direction:  row;
  align-items:  center;
  justify-content: center;
 /*  border: 2px red dotted; */
  position:  fixed;
  top: 0px;
  left:  0px;
}
.imageControls{
  height:  100%;
  width: 100%;
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: center;
  position:  relative;
  /* border: 2px red dotted; */
}

.control{
  height: 100%;
}


.input-field{
  width:  100%;
  height:  100%;
}

#searchSelect {
  background: rgba(223,211,223,1);
  margin: 0;
}

#sortSelect{
  background: rgba(223,211,223,1);
  margin: 0;
}

#popularSearch{
  font-size:  24px;
  text-align:  left;
  line-height:  140%;
  color:  white;
  height:  100%;
  border: 2px white solid;
}

legend{
  background: rgba(222, 100, 100, 0.7);
  width:  100%;
}

#paginationRow{
  height:  60px;
  width:  100vw;
  align-self:  flex-end;
  border:  2px green solid;
  background:  rgba(211,211,211, 0.5);

}


.imageResult{
  position:  relative;
  display:  block;
  width:  100px;
  height:  100px;
  border:  2px white solid;
  border-radius: 4px;
  margin: 2px;
  box-sizing: border-box;
  padding: 1px;
}



.imageResult:hover{
  border-style: dotted;
}
.imageResult:active{
  opacity: 0.9;
  border-color: rgba(55, 244, 244, 1);
}

.clicked{
  opacity: 0.9;
  border-color: rgba(55, 244, 244, 1);
}

#navBarWrapper{
  height:  100px;
  width: 100vw;
  position:  fixed;
  top:  0;
  left:  0;
  border-bottom:  8px;
  border-left:  8px;
  background-color:  rgba(111,222,166,1);

  cursor: pointer;
  z-index:  1;
  border:  1px black solid;
}

.loginRow{
  width:  100%;
  height:  100%;
  position:  relative;

  display:  flex;
  flex-direction:  row;
  align-items:  center;
  align-self:  flex-end;
}

/* .logo {
  width:  100vw;
  height:  100%;
  text-align:  center;
  border:  2px yellow dotted;
  position: absolute;
  left:  0;
  margin:  0;
  padding:  0;
  z-index:  1;
  pointer-events: none;
} */

.loginColumn{
  width:  100%;
  height:  100%;
  display:  flex;
  flex-direction:  column;
  justify-content: center;
}

#signUpPrompt{
  text-align:  center;
  height:  20px;
  color:  black;

}
#signUp{
  color:  orange;

}

#linksArea{
  width:  40vw;
  height:  100%;
  position:  relative;
  /* border:  2px orange dotted; */
  display:  flex;
  flex-direction:  row;
  align-items:  center;
  align-self:  flex-start;
  text-align:  center;

}

label.myLabel{
  color:  black;
}

.myInput{
  background:  black;
}
#loginRow button{
  height:  100%;
  background:  white;
}

#inputUsername{
  background: white;
  opacity:  1;
  margin: 0px 8px;
}

#inputPassword{
  background: white;
  opacity:  1;
  margin: 0px 8px;
}


.tab{
  align-self: auto;
  position:  absolute;

  opacity:  0.7;
  border-left:  1px;
  border-right: 1px;
  border-bottom: 1px;
  border-top: 1px;
  border-style: solid;
  border-color:  black;
  border-radius:  0px 0px 8px 8px;
  top:  99px;

  height:  20px;
  text-align:  center;
  z-index:  2;
}

#navBarTab{
   left:  40vw;
  width:  20vw;
  background: lightyellow;
}

#lockedTab{
   left:  5vw;
  width:  30vw;
  background: salmon;
  color: black;
  opacity:  1;
}

#viewTab{
   left:  70vw;
  width:  20vw;
  background: lightgreen;
  opacity:  1;
}

.welcome{
  font-size:  32px;
}

#noAccount{
  margin:  0;
  padding:  0;
}

form {
  height:  100%;
  width:  100%;
  margin:  0px;
  padding:  0px;
  text-align:  center;
}

.form-horizontal {
  position: relative;

  right:  0px;
  text-align:  right;
  display:  flex;
  flex-direction: row;
  align-items: right;
  justify-content: stretch;
}

.form-group{
  margin: 0 16px;
  padding:  0px;
}

a{
  z-index:  2;
}

label{
  color:  white;

}

.label {
  color:  white;
}

#upload{
  /* z-index: -3; */
  display:  none;
}



.selectionBox {
  /* border: 1px solid black; */
  box-sizing: border-box;
  pointer-events: auto;
/*   background: transparent;
 */}

 .selectionBox:hover{
  border: 1px solid lightgreen;
 }

.progressWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index:  2;
  box-sizing: border-box;
  padding: 10%;
}

.previewProgress{
  margin: 0;
  padding: 10px;
}
