<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style/homepage/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="main-container">
    {{^logged_in}}
      <div class="border-container">
        {{#error}}
        <div class="red-text accent-3">
          <strong>Uh Oh!<strong> {{error}}
        </div>
        {{/error}}

        <form class="form-horizontal" action="/sessions/create" method="post">
          <fieldset>
            <legend>Login {{username}}</legend>
            <div class="inputRow">
              <label for="inputUsername" class="myLabel">Username</label>
              <div class="form-group">
                <input name="username" type="text" class="validate myInput" id="inputUsername" placeholder="Username">
              </div>
              <label for="inputPassword" class="myLabel">Password</label>
              <div class="form-group">
                <input name="password" type="password" class="validate myInput" id="inputPassword" placeholder="Password">
              </div>
              <div class="form-group">

                <button type="submit" class="btn btn-primary">Login</button>
                <p>No account? <a href="/users/new">Sign Up!</a></p>
            </div>
          </div>
          </fieldset>
        </form>


      </div>
      {{/logged_in}}
      {{#logged_in}}
      <div class="border-container">
       <legend>Welcome {{username}}!</legend>
          <div class = row id = "">
          <h4 class = "col l12 m12 center-align" id ="banner"> Welcome to Graffiti Wall!</h4>
            <a class='dropdown-button btn center col l2 m2' href='#' data-constrainwidth ="false" data-activates='dropdown1'>Menu</a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="/screenshots/{{username}}">Screenshots</a></li>
                  <li class="divider"></li>
                  <li><a href="/sessions/logout">Logout</a></li>
                </ul>
         <p class = "col l4 m4 offset-l4">You are logged in. <a href="/sessions/logout">Logout</a></p>
        </div>















      </div>


      {{/logged_in}}

      <div class = "gridContainer">
          <div class = "gridRow" id ="row1">

            <a href = '/graffiti/1/a'><div class = "unlocked grid" id = "grid1a"><label class = "gridLabel" for = "grid1a">1-A</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/1/b'><div class = "unlocked grid" id = "grid1b"><label class = "gridLabel" for = "grid1b">1-B</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/1/c'><div class = "unlocked grid" id = "grid1c"><label class = "gridLabel" for = "grid1c">1-C</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/1/d'><div class = "unlocked grid" id = "grid1d"><label class = "gridLabel" for = "grid1d">1-D</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
          </div>

          <div class = "gridRow" id ="row2">
            <a href = '/graffiti/2/a'><div class = "unlocked grid" id = "grid2a"><label class = "gridLabel" for = "grid2a">2-A</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/2/b'><div class = "unlocked grid" id = "grid2b"><label class = "gridLabel" for = "grid2b">2-B</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/2/c'><div class = "unlocked grid" id = "grid2c"><label class = "gridLabel" for = "grid2c">2-C</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/2/d'><div class = "unlocked grid" id = "grid2d"><label class = "gridLabel" for = "grid2d">2-D</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
          </div>
          <div class = "gridRow" id ="row3">
            <a href = '/graffiti/3/a'><div class = "unlocked grid" id = "grid3a"><label class = "gridLabel" for = "grid3a">3-A</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/3/b'><div class = "unlocked grid" id = "grid3b"><label class = "gridLabel" for = "grid3b">3-B</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/3/c'><div class = "unlocked grid" id = "grid3c"><label class = "gridLabel" for = "grid3c">3-C</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/3/d'><div class = "unlocked grid" id = "grid3d"><label class = "gridLabel" for = "grid3d">3-D</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
          </div>
          <div class = "gridRow" id ="row4">
            <a href = '/graffiti/4/a'><div class = "unlocked grid" id = "grid4a"><label class = "gridLabel" for = "grid4a">4-A</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/4/b'><div class = "unlocked grid" id = "grid4b"><label class = "gridLabel" for = "grid4b">4-B</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/4/c'><div class = "unlocked grid" id = "grid4c"><label class = "gridLabel" for = "grid4c">4-C</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
            <a href = '/graffiti/4/d'><div class = "unlocked grid" id = "grid4d"><label class = "gridLabel" for = "grid4d">4-D</label><div class = "progressWrapper"><div class="progress"><div class="indeterminate"></div></div></div><img src=""></div></a>
        </div>

    </div>
  </body>
    <script type=text/javascript src = /scripts/homepage/homepage.js></script>

</html>
